<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><h2>Editar Vehículo</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="editaFormVehiculo" (ngSubmit)="guardarCambios()">
    
    <ion-card>
      <ion-grid>
        
        <ion-card-header>
          <ion-item>
            <ion-card-title>Editar Vehículo</ion-card-title>
          </ion-item>
        </ion-card-header>
        
        <ion-card-content>
          <ion-row>
            <ion-col>
              <div class="infoapp">
                <ion-list>
        
                  <!-- Marca del vehículo -->
                  <ion-item>
                    <ion-label>Marca:</ion-label>
                    <ion-text>{{ vehiculo?.marca }}</ion-text>
                  </ion-item>
        
                  <!-- Modelo del vehículo -->
                  <ion-item>
                    <ion-label>Modelo:</ion-label>
                    <ion-text>{{ vehiculo?.modelo }}</ion-text>
                  </ion-item>
        
                  <!-- Año del vehículo -->
                  <ion-item>
                    <ion-label>Año:</ion-label>
                    <ion-text>{{ vehiculo?.anio }}</ion-text>
                  </ion-item>
        
                  <!-- Patente del vehículo -->
                  <ion-item>
                    <ion-label>Patente:</ion-label>
                    <ion-text>{{ vehiculo?.patente }}</ion-text>
                  </ion-item>
        
                  <!-- Nuevo color -->
                  <ion-item>
                    <ion-label>Nuevo Color:</ion-label>
                    <ion-input 
                      formControlName="newColor" 
                      style="text-align: right;"
                      label-placement="floating" 
                      fill="undefined" 
                      placeholder="{{ vehiculo?.color }}">
                    </ion-input>
                  </ion-item>
        
                  <div id="error" *ngIf="editaFormVehiculo.get('newColor')?.invalid && editaFormVehiculo.get('newColor')?.touched">
                    Debes ingresar un color válido.
                  </div>
        
                  <!-- Capacidad de asientos -->
                  <ion-item>
                    <ion-label>Capacidad Asientos:</ion-label>
                    <ion-select 
                      style="text-align: right;" 
                      formControlName="newAsientos" 
                      interface="popover" 
                      placeholder="{{ vehiculo?.asientos }}">
                      <ion-select-option value="2">2</ion-select-option>
                      <ion-select-option value="3">3</ion-select-option>
                      <ion-select-option value="4">4</ion-select-option>
                      <ion-select-option value="5">5</ion-select-option>
                    </ion-select>
                  </ion-item>

                  <div *ngIf="editaFormVehiculo.get('newAsientos')?.invalid && editaFormVehiculo.get('newAsientos')?.touched">
                    Ingresa asientos del vehículo (2 - 5).
                  </div>
                  
                </ion-list>
              </div>
            </ion-col>
          </ion-row>

          <!-- Botones -->
          <div class="button-container">
            <ion-button color="warning" shape="round" type="submit">Aceptar cambios</ion-button>
            <ion-button color="secondary" shape="round" [routerLink]="['/tabs/perfil-usuario']">Volver</ion-button>
          </div>

        </ion-card-content>
      
      </ion-grid>
    
    </ion-card>
  </form>
</ion-content>
