.recuadro {
    background-color: #4d8dff; /* Color de fondo */
    padding: 10px;            /* Espaciado interno */
    border-radius: 10px;       /* Bordes redondeados */
    margin: 10px;              /* Espaciado externo */
    color: white;              /* Color de texto para mejor contraste */
  }
  
  ion-item {
    --background: transparent; /* Eliminar el fondo por defecto de ion-item */
  }
  .infoapp {
    background-color: #4d8dff; /* Color de fondo */
    padding: 10px;            /* Espaciado interno */
    border-radius: 10px;       /* Bordes redondeados */
    margin: 10px;              /* Espaciado externo */
    color: white;              /* Color de texto para mejor contraste */
  }
  
  ion-item {
    --background: transparent; /* Eliminar el fondo por defecto de ion-item */
  }