<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item style="--background: transparent;">
      <ion-title style="color: white;">Mi Perfil</ion-title>
      <ion-icon name="person" color="light" size="large"></ion-icon>
    </ion-item>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-card>
    <ion-grid>
      <ion-card-header>
        <ion-item>
          <ion-card-title>Datos del Alumno</ion-card-title>
          <ion-icon name="person" slot="end" color="primary" size="large"></ion-icon>
        </ion-item>
      </ion-card-header>
      
      <ion-card-content>
        <ion-row>
          <ion-col>
            <div class="infoapp">
              <ion-list>
                <ion-item>
                  <ion-label>Nombre:</ion-label>
                  <ion-text>{{ usuario?.nombre }} {{ usuario?.apellido }}</ion-text>
                </ion-item>
                
                <ion-item>
                  <ion-label>Correo:</ion-label>
                  <ion-text>{{ usuario?.correo }}</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Usuario:</ion-label>
                  <ion-text>{{ usuario?.username }}</ion-text>
                </ion-item>
                
              </ion-list>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
        
      <ion-fab horizontal="end" vertical="bottom">
        <ion-fab-button color="warning">
          <ion-icon name="editar" size="large" [routerLink]="['/tabs/editaperfil']"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-grid>
  </ion-card>
    

  <ion-card>
    <ion-grid *ngIf="showAgregaVehiculo">

      <ion-card-header>
        <ion-item>
          <ion-card-title>Vehículo</ion-card-title>
          <ion-icon name="car" slot="end" color="primary" size="large"></ion-icon>
        </ion-item>
      </ion-card-header>


      <ion-card-content>
        <ion-row>
          <ion-col>
            <div class="infoapp">
              <ion-list>
                <ion-item>
                  <ion-label>Usted no posee vehiculo</ion-label>
                </ion-item>
                
              </ion-list>
            </div>    
          </ion-col>
        </ion-row>
        
      </ion-card-content>
      
      <ion-fab horizontal="end" vertical="bottom">
        <ion-fab-button color="warning">
          <ion-icon name="add" size="large" [routerLink]="['/tabs/registravehiculo']"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-grid>
    
    
    <ion-grid *ngIf="!showAgregaVehiculo">
      <ion-card-header>
        <ion-item>
          <ion-card-title>Vehículo</ion-card-title>
          <ion-icon name="car" slot="end" color="primary" size="large"></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <div class="infoapp">
              <ion-list>
                <ion-item>
                  <ion-label>Marca:</ion-label>
                  <ion-text>{{ vehiculo?.marca }}</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Modelo:</ion-label>
                  <ion-text>{{ vehiculo?.modelo }}</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Año:</ion-label>
                  <ion-text>{{ vehiculo?.anio }}</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Patente:</ion-label>
                  <ion-text>{{ vehiculo?.patente }}</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Color:</ion-label>
                  <ion-text>{{ vehiculo?.color }}</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Asientos:</ion-label>
                  <ion-text>{{ vehiculo?.asientos }}</ion-text>
                </ion-item>
              </ion-list>
            </div>    
          </ion-col>
        </ion-row>
        
      </ion-card-content>
      
      <ion-fab horizontal="end" vertical="bottom">
        <ion-fab-button color="warning">
          <ion-icon name="editar" size="large" (click)="irEditarVehiculo()"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-grid>
    
  </ion-card>


</ion-content>
<!-- 
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>Duoc UC - 2024</ion-title>
  </ion-toolbar>
</ion-footer> -->
