<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="recuadro">
    <!-- Título para los datos del usuario -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información del Alumno</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-text>{{ usuario?.nombre }} {{ usuario?.apellido }}</ion-text>
          </ion-item>
          
          <ion-item>
            <ion-label>Correo:</ion-label>
            <ion-text>{{ usuario?.correo }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Usuario:</ion-label>
            <ion-text>{{ usuario?.username }}</ion-text>
          </ion-item>
          
        </ion-list>
        <!-- <ion-button [routerLink]="['/menu/editar-perfil']" expand="block">Editar</ion-button> -->
      </ion-card-content>
      
    </ion-card>

    <!-- Título para información adicional de la app -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información del Vehículo</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="infoapp">
          <ion-list>
            <ion-item>
              <ion-label>Marca:</ion-label>
              <ion-text>Kia</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Modelo:</ion-label>
              <ion-text>0</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Año:</ion-label>
              <ion-text>2020</ion-text>
            </ion-item>
          </ion-list>
          
        </div>
      </ion-card-content>
      <ion-button expand="block">Editar</ion-button>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>Duoc UC - 2024</ion-title>
  </ion-toolbar>
</ion-footer>
