<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title><h2>Te Llevo App</h2></ion-title>
  </ion-toolbar>
  <ion-toolbar >
    <div class="logo-container"   >
      <img #logo  src="assets/icon/logoduocuc.png" alt="logotipo de la Empresa" class="logo" />
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="recuperaForm" (ngSubmit)="recuperar()">
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Recuperar Contraseña</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div class="form-group">
          <ion-item>
            <ion-input formControlName="correo" label="Correo Duoc" label-placement="floating" fill="undefined" placeholder="Correo Electrónico"></ion-input>
          </ion-item>
      
        </div>

        <br>

        <div *ngIf="(recuperaForm.get('correo')?.invalid && recuperaForm.get('correo')?.touched)">
          Favor ingresar correo válido.
        </div>
        
        
        <div>
          <ion-item>
            <ion-input formControlName="nuevaContrasena" label="Nueva Contraseña" label-placement="floating" fill="undefined" type="password" placeholder="Nueva Contraseña"></ion-input>
          </ion-item>
        </div>
        
        <div *ngIf="recuperaForm.get('nuevaContrasena')?.invalid && recuperaForm.get('nuevaContrasena')?.touched">
          La contraseña pueden contener <br>
            - Entre 5 a 10 carácteres <br>
            - minúsculas <br>
            - MAYÚSCULAS<br>
            - números<br>
        </div>

        <div>
          <ion-item>
            <ion-input formControlName="nuevaContrasena2" label="Confirmar Contraseña" label-placement="floating" fill="undefined" type="password" placeholder="Confirmar Contraseña"></ion-input>
          </ion-item>
        </div>

        <div *ngIf="recuperaForm.errors?.['passwordMismatch'] && recuperaForm.get('nuevaContrasena2')?.touched">
          Las contraseñas no coinciden.
        </div>

        <div class="button-container">
          <ion-button color="warning" shape="round" type="submit">Recuperar</ion-button>
          <ion-button color="secondary" shape="round" [routerLink]="['/login']">Volver</ion-button>
        </div>
        

      </ion-card-content>
    </ion-card>
  </form>
  
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title><h2>Duoc UC - 2024</h2></ion-title>
  </ion-toolbar>
</ion-footer>