<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title><h2>Te Llevo App</h2></ion-title>
  </ion-toolbar>
  <ion-toolbar >
    <div class="logo-container"   >
      <img #logo  src="assets/icon/logoduocuc.png" alt="logotipo de la Empresa" class="logo" />
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="registraForm" (ngSubmit)="onRegister()">
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registrarse en TeLlevoApp</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div>
          <ion-item>
            <ion-input formControlName="nombre" label="Nombre" label-placement="floating" fill="undefined" placeholder="Nombre"></ion-input>
          </ion-item>
          
          <div id="error" *ngIf="registraForm.get('nombre')?.invalid && registraForm.get('nombre')?.touched">
            Ingresa un nombre válido.
          </div>

          <ion-item>
            <ion-input formControlName="apellido" label="Apellido" label-placement="floating" fill="undefined" placeholder="Apellido"></ion-input>
          </ion-item>

          <div id="error" *ngIf="registraForm.get('apellido')?.invalid && registraForm.get('apellido')?.touched">
            Ingresa un apellido válido.
          </div>

          <ion-item>
            <ion-input formControlName="correo" label="Correo Electrónico Duoc" label-placement="floating" fill="undefined" placeholder="Correo"></ion-input>
          </ion-item>
          
          <div id="error" *ngIf="registraForm.get('correo')?.invalid && registraForm.get('correo')?.touched">
            Debes ingresar tu correo institucional.
          </div>

          <ion-item>
            <ion-input formControlName="password" label="Contraseña" label-placement="floating" type="password" fill="undefined" placeholder="Contraseña"></ion-input>  
          </ion-item>
          
          <div id="error" *ngIf="registraForm.get('password')?.invalid && registraForm.get('password')?.touched">
            La contraseña pueden contener <br>
            - Entre 5 a 10 carácteres <br>
            - minúsculas <br>
            - MAYÚSCULAS<br>
            - números<br>
          </div>

          <ion-item>
            <ion-input formControlName="password2" label="Confirmar contraseña" label-placement="floating" type="password" fill="undefined" placeholder="Confirmar contraseña"></ion-input>  
          </ion-item>

          <div id="error" *ngIf="registraForm.errors?.['passwordMismatch'] && registraForm.get('password2')?.touched">
            Las contraseñas no coinciden.
          </div>

        </div>

        
        
        <ion-button id="open-toast" color="warning" shape="round" expand="block" type="submit">Registrar</ion-button>
        <ion-button color="secondary" shape="round" [routerLink]="['/login']" expand="block">Volver</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
  <div id="error" *ngIf="(registraForm.invalid)">
    <p>
      Recuerda Registrarte con tu correo DUOC.
    </p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title><h2>Duoc UC - 2024</h2></ion-title>
  </ion-toolbar>
</ion-footer>
