<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title><h2>Te Llevo App</h2></ion-title>
  </ion-toolbar>
  <ion-toolbar >
    <div class="logo-container"   >
      <img #logo  src="assets/icon/logoduocuc.png" alt="logotipo de la Empresa" class="logo" />
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Inicio de Sesión</ion-card-title>
        <ion-card-subtitle>TeLlevoApp</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div class="form-group">
          
          <ion-item>
            <ion-input formControlName="correo" label="Correo Duoc" label-placement="floating" fill="undefined" placeholder="Correo"></ion-input>
          </ion-item>
          
          <!-- <div id="error" *ngIf="loginForm.get('correo')?.invalid && loginForm.get('correo')?.touched">
            Debes ingresar un correo válido.
          </div> -->

          <ion-item>
            <ion-input 
            formControlName="password" 
            label="Contraseña" 
            label-placement="floating" 
            type="password" 
            fill="undefined" 
            placeholder="Contraseña" 
            maxlength="8"></ion-input>  
          </ion-item>
        </div>

        <div class="button-container">
          <ion-button color="warning" shape="round" type="submit">Ingresar</ion-button>
          <ion-button color="secondary" shape="round" [routerLink]="['/registro-usuario']">Registrarse</ion-button>
        </div>
        
      </ion-card-content>
    </ion-card>
    
    <ion-item>
      <ion-label [routerLink]="['/recuperar-contrasena']"><a>¿Olvidaste tu contraseña?</a></ion-label>
    </ion-item>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title><h2>Duoc UC - 2024</h2></ion-title>
  </ion-toolbar>
</ion-footer>