<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-title style="color: white;">Inicio</ion-title>
      <ion-icon name="person" color="light" size="large"></ion-icon>
    </ion-item>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="div-bienvenida">
    <ion-label><h1>Bienvenido, {{ par_username }}</h1></ion-label>
  </div>
    
  
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>Duoc UC - 2024</ion-title>
  </ion-toolbar>
</ion-footer>