<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
  
      <ion-tab-button tab="inicio" routerLink="/tabs/inicio" routerLinkActive="active">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="viajes">
        <ion-icon name="airplane"></ion-icon>
        <ion-label>Viajes</ion-label>
      </ion-tab-button>
  
  
    </ion-tab-bar>
   </ion-tabs>
</ion-content>
